<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>RainClaude can use your location to center the map.</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>BackgroundColor</key>
        <string>LaunchBackground</string>
        <key>ImageName</key>
        <string>LaunchImage</string>
    </dict>
</dict>
</plist>
